@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 4s infinite alternate;
	stroke-width: 2;
	stroke: #A0A0A0;
	font-size: 91px;
}
@keyframes stroke {
	0%   {
		fill: rgba(240,240,240,0); stroke: rgba(160,160,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(240,240,240,0); stroke: rgba(160,160,160,1); }
	80%  {fill: rgba(240,240,240,0); stroke: rgba(160,160,160,1); stroke-width: 3; }
	100% {
		fill: rgba(240,240,240,1); stroke: rgba(160,160,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {background-color: #201C2B};
.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
.col-6 {
  width: 50%; /* 50% ширины, т.к. 12/2 = 6 */
  padding: 15px; /* Отступы внутри колонки */
  box-sizing: border-box;
}

